# MONGO CONFIG (REPLACE WITH YOUR URI)
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/?appName=liquidswap

# STELLAR NETWORK CONFIG
NEXT_PUBLIC_STELLAR_NETWORK=TESTNET
NEXT_PUBLIC_APP_URL=http://localhost:3000

# PROTOCOL ASSETS
NEXT_PUBLIC_LQID_ISSUER=GCDAND5QSCVFFEDUCK62VEZASVPYOUATCMJ4EXAUVEOUPILOJDDEFUTZ
STELLAR_ISSUER_SECRET=S...

# POOL CONFIG
NEXT_PUBLIC_POOL_ID=d36b6d8e280ed87f58d7a984cc4e3dbbcb2e81b127947ccd6deb16fec06e567b
NEXT_PUBLIC_POOL_ADDRESS=GC...

# ADMIN CONFIG
NEXT_PUBLIC_ADMIN_ADDRESS=GC...
ADMIN_SECRET=SUPER_SECRET_ADMIN_KEY
